<!-- <div class="left-column"> -->
<div>
    <img src="assets/img/ava.png" alt="Tuan Nguyen" class="profile-img">
    <h2>Tuan Nguyen</h2>
    <p>Geophysicist & Data Scientist</p>
    <p>Master Science of Data Science</p>
    <p>University of Colorado Boulder</p>
    <div class="links">
        <a href="mailto:tuan.nguyen@colorado.edu" target="_blank" class="icon-link">
            <i class="bi bi-envelope-fill"></i>
        </a>
        <a href="https://github.com/tuanna712" target="_blank" class="icon-link">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/tuannguyen129" target="_blank" class="icon-link">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://scholar.google.com/citations?user=C2GoxBgAAAAJ" target="_blank" class="icon-link">
            <i class="bi bi-google"></i>
        </a>
    </div>
</div>